-- Reference SQL (MySQL) for users, documents, document_type_config
-- Align with DocumentTypeConfigLoader.java
--
-- Migration depuis une ancienne colonne users.document_status :
-- ALTER TABLE users ADD COLUMN registration_status VARCHAR(20) NOT NULL DEFAULT 'PENDING';
-- UPDATE users SET registration_status = 'ACTIVE' WHERE document_status = 'COMPLETE';
-- UPDATE users SET registration_status = 'PENDING' WHERE document_status IN ('PENDING','INCOMPLETE');
-- ALTER TABLE users DROP COLUMN document_status;

CREATE TABLE IF NOT EXISTS documents (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    document_type VARCHAR(64) NOT NULL,
    file_name VARCHAR(512) NOT NULL,
    file_path VARCHAR(1024) NOT NULL,
    file_type VARCHAR(32) NOT NULL,
    file_category VARCHAR(16) NULL,
    file_size BIGINT NULL,
    is_required TINYINT(1) NOT NULL DEFAULT 1,
    status VARCHAR(20) NOT NULL DEFAULT 'PENDING',
    rejection_reason VARCHAR(2000) NULL,
    uploaded_at DATETIME NOT NULL,
    user_id BIGINT NOT NULL,
    INDEX idx_documents_user (user_id),
    INDEX idx_documents_type (document_type)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

CREATE TABLE IF NOT EXISTS document_type_config (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    role VARCHAR(32) NOT NULL,
    document_type VARCHAR(64) NOT NULL,
    is_required TINYINT(1) NOT NULL,
    document_label VARCHAR(255) NOT NULL,
    allowed_file_types VARCHAR(128) NOT NULL,
    is_conditional TINYINT(1) NULL DEFAULT 0,
    condition_description VARCHAR(512) NULL,
    UNIQUE KEY uk_role_doctype (role, document_type),
    INDEX idx_config_role (role)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- users.registration_status: PENDING | ACTIVE | REJECTED (see JPA entity)
